---
layout: default
---
<!-- The Art page has a special header: _includes/gallery_header.html --> 
{% include gallery_header.html %}

<link href="/css/custom.css" rel="stylesheet"/>
<p> A collection of Slon related art to peruse at your leisure: </p>

{% for image in site.data.image_list %}
  {{ image.text }}<br>
  <a href="/images/{{ image.name }}" data-lightbox="art" title="{{ image.text}}">
  <div class="container">
    <img id="clip" src="/images/{{ image.name }}" />
  </div>
  </a>
{% endfor %}
