---
layout: default
---
<!-- The Art page has a special header: _includes/gallery_header.html --> 
{% include gallery_header.html %}

<link href="/css/custom.css" rel="stylesheet"/>
<p> A collection of Slon related art to peruse at your leisure. </p>
<p> If you would like to submit a piece of artwork to be featured on this page, please email it to <a href="mailto:{{ site.email }}">{{ site.email }}</a> </p>

<table style="width:100%">

{% assign img_cols = 4 %}
{% assign cols_minus_one = (img_cols - 1) %}

{% for n in (1..img_cols) %}
  <col width="80">
{% endfor %}

{% for image in site.data.image_list %}
  {% assign index = forloop.index0 | modulo: img_cols %}
  {% if index == 0 %}
    <tr>
  {% endif %}
  
  <td>  
  <a href="/images/{{ image.name }}" data-lightbox="art" title="{{ image.text}}">
  <div class="container">
    <img id="clip" src="/images/{{ image.name }}" />
  </div>
  </a>
  <br>
  </td>

  {% if index == (cols_minus_one) %}
    </tr>
  {% endif %}

{% endfor %}

</table> 

<!--{% for image in site.data.image_list %}
  {{ image.text }}<br>
{% endfor %}-->
